{% extends "base.html" %}

{% block body %}

<div>
  <form class="form-inline" action="/add" method="post"> 
    <img src="./static/img/bookmark-add.jpg" width="40" height="40" >
    <input type="text" id="name"        name="name"        class="input" placeholder="Nome">
    <input type="text" id="url"         name="url"         class="input" placeholder="URL">
    <input type="text" id="description" name="description" class="input-xlarge" placeholder="Descrição">
    <input type="text" id="labels"      name="labels"      class="input" placeholder="Marcadores (separe por vírgula)">
    <input type="submit" class="btn" value="Adicionar">
  </form>
</div>


<div>
  <span>Filtrar por:  </span>

  	{% for label in labels %}
		<a href="#"><span class="label label-info">{{label.name}} </span></a><a href="delete-label?id={{label.id}}" ><span class="label label-info">x</span></a>
	{% end %}
</div>

<div style="margin-top:15px;">
   <table class="table table-striped" >
      <thead>
        <tr>
          <th colspan="4"><input type="text" class="input" placeholder="Pesquisar..."></th>
        </tr>
      </thead>
      <tbody>
      	{% for bookmark in bookmarks %}
	      	<tr>
	          <td><a href="{{ bookmark.url }}">{{ bookmark.name }}</a></td>
	          <td>{{ bookmark.url }}</td>
	          <td>{{ bookmark.description }}</td>
	          <td>
	          	{% for label in bookmark.labels %}
	            	<span class="label label-info">{{ label.name }}</span><a href="disassociate?bookmark_id={{ bookmark.id }}&label_id={{ label.id }} " ><span class="label label-info"> x</span></a>
	            {% end %}
	          </td>
	          <td>{{ bookmark.published }}
	          </td>
	          <td>
	             <a href="delete?id={{ bookmark.id }}">x</a>
	          </td>
	        </tr>
      	{% end %}
      </tbody>
    </table>
</div>


{% end %}
